@model IEnumerable<TravelBlog.Models.Location>

<h4>@Html.DisplayNameFor(model => model.Name)</h4>
    <ul>
        @foreach(var listLocation in Model)
        {
            <li>
                @Html.DisplayFor(modelLocation => listLocation.Description) |

           </li>
        
        }
    </ul>
     <p>@Html.ActionLink("Add new item", "Create")</p>