@{
    ViewData["Title"] = "Index - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to the Travel Blog!</h2>
<p>@Html.ActionLink("Experience", "Index", "Experience")</p>
<p>@Html.ActionLink("Location", "Index", "Location")</p>
<p>@Html.ActionLink("Person", "Index", "Person")</p>