@{
    ViewData["Title"] = "Experience - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model TravelBlog.Models.Experience

<h2>Details</h2>
<hr />
@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)
<p>@Html.ActionLink("Back to list", "Index")</p>
